{
  "purchases": [
    {
      "coinId": "bitcoin",
      "unitAmount": 1,
      "currency": "AUD"
    },
    {
      "coinId": "ripple",
      "currencyAmount": 20000,
      "currency": "AUD"
    }
  ]
}